body {
    font-family: Montserrat, sans-serif;
}

.navbar {
    overflow: hidden;
    background-color: #000000;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.section {
    padding: 20px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}

ul, ol {
    padding-left: 20px;
}
