body {
    font-family: Montserrat, sans-serif;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.navbar {
    overflow: hidden;
    background-color: #000000;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.navbar a:hover {
    background-color: #555555;
    color: #ffffff;
}

.section {
    padding: 20px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}

ul, ol {
    padding-left: 20px;
}

.contact {
    display: flex;
    align-items: center;
}

.c-info {
    margin-left: 20px;
}
